body {
  font-family: Thabit, "Courier New", Courier, monospace;
  color: #ffffff;
  font-size: 1em;
  margin: 0;
  /*Header*/
  /*Header*/ }
  body header {
    width: 100%;
    height: 100px;
    background-color: #0E402E;
    opacity: 0.8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    /*Nav*/ }
    body header #t-logo img {
      width: 45%;
      margin: 20px; }
    body header #nav-destop {
      width: 50%; }
      body header #nav-destop ul {
        display: flex;
        justify-content: space-between;
        padding: 0; }
        body header #nav-destop ul li {
          color: white;
          display: inline;
          margin-right: 20px; }
    body header #nav-mobile {
      display: none; }
  body .hero-image {
    width: 100%;
    height: 100vh;
    background-image: url("/img/hero_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center; }
    body .hero-image .hero-content {
      /*Services*/ }
      body .hero-image .hero-content h3 {
        color: white;
        font-size: 2em;
        font-weight: 100;
        text-align: center; }
      body .hero-image .hero-content .service-info {
        width: 680px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-around;
        border-radius: 10px; }
        body .hero-image .hero-content .service-info #services {
          font-family: Thabit, "Courier New", Courier, monospace;
          width: 300px;
          height: 72px;
          border: none;
          padding-left: 20px;
          margin-right: 20px; }
        body .hero-image .hero-content .service-info #address {
          font-family: Thabit, "Courier New", Courier, monospace;
          width: 300px;
          height: 72px;
          border: none;
          padding: 0;
          padding-left: 20px;
          margin-right: 20px; }
        body .hero-image .hero-content .service-info .button {
          font-family: Thabit, "Courier New", Courier, monospace;
          width: 160px;
          height: 72px;
          color: white;
          background-color: #826D59;
          border: none; }
  body .about-content {
    width: 90%;
    background-image: url("/img/content_img.jpg");
    background-size: cover;
    margin: 0 auto;
    margin-top: -80px;
    padding: 100px;
    box-sizing: border-box; }
    body .about-content .about-topic {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .about-content .about-topic h2 {
        font-size: 2em;
        font-weight: 100; }
      body .about-content .about-topic button {
        font-family: Thabit, "Courier New", Courier, monospace;
        font-size: 1em;
        color: #0E402E;
        width: 160px;
        height: 45px;
        background: #ffffff;
        border: none; }
    body .about-content p {
      line-height: 2em; }
  body .service-content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 10px; }
    body .service-content .content-left, body .service-content .content-right {
      width: 44.5%;
      min-height: 360px;
      max-height: 1200px;
      background: #295135;
      margin-left: 5%;
      padding: 45px;
      box-sizing: border-box; }
      body .service-content .content-left .content-topic, body .service-content .content-right .content-topic {
        display: flex;
        justify-content: space-between;
        align-items: center; }
        body .service-content .content-left .content-topic h2, body .service-content .content-right .content-topic h2 {
          font-size: 2em;
          font-weight: 100;
          display: inline-block; }
        body .service-content .content-left .content-topic button, body .service-content .content-right .content-topic button {
          font-family: Thabit, "Courier New", Courier, monospace;
          font-size: 1em;
          color: #295135;
          width: 160px;
          height: 45px;
          background: #ffffff;
          border: none; }
      body .service-content .content-left p, body .service-content .content-right p {
        line-height: 2em;
        display: inline-block; }
    body .service-content .content-right {
      background: #5A674F;
      margin-right: 5%;
      margin-left: 0; }
  body footer {
    width: 100%;
    height: 600px;
    background-image: url("/img/footer_img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    body footer p {
      padding: 0; }
    body footer .social-icon {
      display: inline; }

/* Mobile Device */
@media only screen and (max-width: 480px) {
  body header {
    /* Hamburger */ }
    body header #nav-destop {
      display: none; }
    body header #nav-mobile {
      display: revert; }
    body header #menuToggle {
      display: block;
      position: relative;
      top: -15px;
      z-index: 1;
      -webkit-user-select: none;
      user-select: none; }
    body header #menuToggle li {
      text-decoration: none;
      display: block;
      transition: color 0.1s ease; }
    body header #menuToggle input {
      width: 40px;
      height: 32px;
      display: block;
      cursor: pointer;
      z-index: 2;
      opacity: 0;
      -webkit-touch-callout: none; }
    body header #menuToggle span {
      width: 33px;
      height: 4px;
      background: #ffffff;
      display: block;
      position: relative;
      margin-bottom: 5px;
      border-radius: 3px;
      z-index: 1;
      transform-origin: 4px 0px;
      transition: transform 0.1s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.1s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease; }
    body header #menuToggle span:first-child {
      transform-origin: 0% 0%; }
    body header #menuToggle span:nth-last-child(2) {
      transform-origin: 0% 100%; }
    body header #menuToggle input:checked ~ span {
      right: -5px;
      top: 4px;
      opacity: 1;
      transform: rotate(45deg) translate(-2px, -1px); }
    body header #menuToggle input:checked ~ span:nth-last-child(3) {
      opacity: 0;
      transform: rotate(0deg) scale(0.2, 0.2); }
    body header #menuToggle input:checked ~ span:nth-last-child(2) {
      transform: rotate(-45deg) translate(0, -1px); }
    body header #menu {
      width: 200px;
      position: absolute;
      margin: 0 0 0 -230px;
      padding: 10px;
      padding-top: 35px;
      top: -10px;
      transform-origin: 0% 0%;
      transform: translate(0, -30%);
      display: none; }
    body header #menuToggle input:checked ~ #menu {
      display: block; }
    body header #menu li {
      width: 100%;
      padding: 10px 0;
      color: #ffffff; }
    body header #menuToggle input:checked ~ ul {
      transform: none; }
    body header #menuToggle input:checked ~ ul a {
      visibility: visible;
      opacity: 1;
      transition: opacity 0.3s linear; }
  body .hero-image .hero-content {
    /*Services*/ }
    body .hero-image .hero-content h3 {
      color: white;
      font-size: 2em;
      font-weight: 100;
      text-align: center; }
    body .hero-image .hero-content .service-info {
      width: 100%;
      height: 250px;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-content: space-around;
      border-radius: 10px;
      flex-direction: column; }
      body .hero-image .hero-content .service-info #services {
        font-family: Thabit, "Courier New", Courier, monospace;
        width: 300px;
        height: 72px;
        border: none; }
      body .hero-image .hero-content .service-info #address {
        font-family: Thabit, "Courier New", Courier, monospace;
        width: 300px;
        height: 72px;
        border: none;
        padding-left: 20px;
        box-sizing: border-box; }
      body .hero-image .hero-content .service-info .button {
        font-family: Thabit, "Courier New", Courier, monospace;
        width: 160px;
        height: 72px;
        color: white;
        background-color: #826D59;
        border: none; }
  body .about-content {
    padding: 45px; }
    body .about-content .about-topic {
      flex-direction: column;
      align-items: flex-start; }
  body .service-content {
    flex-direction: column; }
    body .service-content .content-left, body .service-content .content-right {
      width: 90%; }
      body .service-content .content-left .content-topic, body .service-content .content-right .content-topic {
        flex-direction: column;
        align-items: flex-start; }
      body .service-content .content-left p, body .service-content .content-right p {
        line-height: 2em;
        display: inline-block; }
    body .service-content .content-right {
      width: 90%;
      margin-right: 0;
      margin-left: 5%;
      margin-top: 10px; }
      body .service-content .content-right p {
        line-height: 2em;
        display: inline-block; } }
